<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whitegoldapps.cashm4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CASHM4MONEYUCDIAMONDSRECHARGEPROMOTIONS">
        <activity android:name=".Friends"></activity>
        <activity android:name=".Pay" />
        <activity android:name=".Payment" />
        <activity android:name=".PlaceOrder" />
        <activity android:name=".jio" />
        <activity android:name=".cp" />
        <activity android:name=".bc" />
        <activity android:name=".socialmedia" />
        <activity android:name=".diamond" />
        <activity android:name=".upi" />
        <activity android:name=".Battleground" />
        <activity android:name=".Bill" />
        <activity android:name=".uc" />
        <activity android:name=".Convert" />
        <activity android:name=".Share" />
        <activity android:name=".Wallet" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity android:name=".Earnfromvid" />
        <activity
            android:name=".Drawer"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.CASHM4MONEYUCDIAMONDSRECHARGEPROMOTIONS.NoActionBar" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Card" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>